@font-face {
  font-family: SourceCodePro;
  src: url(fonts/SourceCodePro-Bold.ttf);
}
right {
  text-align: right;
}
body {
  font-family: SourceCodePro;
  background-color: #3d3d3d;
  color: #c7c7c7;
  padding: 1% 1% 1% 1%;
  text-shadow: #000 0 0 10px;
}
.change {
  cursor: pointer;
  border: 2px solid #9f9f9f;
  border-radius: 6px;
  text-align: center;
  padding: 0px 5px 0px 5px;
}
.light {
  background-color: #fff;
  color: #000;
  text-shadow: #0000 0 0 10px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 1%;
  row-gap: 2%;
}
.grid-item {
  cursor: pointer;
  height: 0;
  width: 90%;
  padding: 1% 5% 99% 5%;
  transition: background-size 0.1s;
  border-radius: 10%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
